body {
  background:#fff
}


canvas {
  border: 1px solid #000;
  background-color: azure;
}

button{
  cursor: pointer;
}

label {
  margin-bottom: 5px;
}

input { 
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.popup {
  background: #fff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: left;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;    
  transition: transform 0.4s, top 0.4s;
}
.popup h2 {
  text-align: center;
}
/*Logo abaixo temos a classe que é referenciada no JS para mostrar o Pop-up*/
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
#popup-information{
  width: 500px;
  height: 800px;
}
#popup-lines{
  width: 500px;
  height: 400px;
  text-align: center;
}


.fechePopup {
  position: absolute;
  top: 10px;
  right: 10px;
}

.inline-element {
  display: inline;  
}


/*

    FORMATAÇÃO TABELA

*/

/* Adiciona um espaçamento entre as células da tabela */
.table th, .table td {
  padding: 0.75rem;
}

/* Remove a borda inferior das células do corpo da tabela */
.table tbody tr td {
  border-bottom: none;
}

/* Remove a borda inferior das células do corpo da tabela com scope="row" */
.table tbody tr [scope="row"] {
  border-bottom: none;
}

/*

    PERSONALIZAÇÃO DO SCROLL

*/

.scrollResume {
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
}

.scrollResume::-webkit-scrollbar{
  width: 10px;
  background-color: #9bacb2;
  border-radius: 10px;
}

.scrollResume::-webkit-scrollbar-thumb{
  background-color: #6c757d;
  border-radius: 10px;
}

/*

    PERSONALIZAÇÃO DO BOOTSTRAP

*/

.custom-bg {
  background-color: rgba(255, 255, 255, 0.8); /* Cor branca com 80% de opacidade */
}


